# makes this editorconfig overwrite all other config files
root = true
 
[*.java] #specifies what file types it applies to [*.{txt,md}] specifies for txt and md
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2